<div id="page-container" class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark mt-5"  data-bs-theme="dark">
      <div class="col-md-4 d-flex align-items-center">
        
        <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> OmniChat, Inc</span>
      </div>
  
</footer>
  </div>