<%- include("partials/header.ejs") %>

<%# A div that formats the form on the webpage. %>
<div class="format">

<%# A form that submits the user's comment. %>
<form action="/homepage" method="post" class="mx-auto mt-5" style="width: 450px">
  
  <%# If there is a username, welcome the user by their name. %>
  <% if(locals.username){ %>
  <h1 class="text-center">Welcome <%= username %>!</h1>

  <%# Else, they are referred to as Guest. %>
  <% } else { %>
  <h1 class="text-center">Welcome Guest!</h1>
  <% } %> 
  
  <%# Card that is used for the user's comment. %>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-0 border" style="background-color: #f0f2f5">
        <div class="card-body p-4">
          <div class="form-outline mb-4">
            <input
              type="text"
              id="addANote"
              name="messages"
              class="form-control"
              placeholder="Type comment..."
            />
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <p>Type your comment, and hit enter to add it</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<%- include("partials/footer.ejs") %>

