html{
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, black 0, rgb(2, 2, 175), rgb(99, 1, 99) 100%);
    color: aliceblue;
    height: 100%;
}

footer { 
    position:fixed;
    padding: 1em;
    bottom:0;
    left:0; 
    width: 100%;
}

form.mt-5{
    width: 50%;
    margin: 0 auto
}

.format{
    margin-top: 130px;
}




